
.our-department{
    h3{
        .bord-bot{
            right: 0;
        }
    }
}

.Our-Lectures{
    h3{
        .bord-bot{
            right: 0;
        }
    }
}


.our-status{
    h3{
        .bord-bot{
            right: 41%;
        }
    }
}